<div class="az-content-header">
    <div class="az-content-header-top">
        <div>
            <h2 class="az-content-title mg-b-5 mg-b-lg-8">Approved Mandate!</h2>
            <p class="mg-b-0">Approved Account Mandate.</p>
        </div>
        <div class="az-dashboard-date">
            <div class="date">
                <!--        <button nz-button nzType="primary">Add Teller</button>-->
            </div>
            <!-- az-dashboard-date -->
            <!-- <i class="icon ion-md-arrow-forward"></i> -->
            <!-- <div class="date">
      <button nz-button nzType="default">Existing Customer</button>
    </div> -->
        </div>
        <!-- az-dashboard-date -->
    </div>
    <!-- az-content-body-title -->
    <div class="nav-wrapper">
        <nav class="nav az-nav-line">
            <a href="javascript::void(0)" class="nav-link active">Approved Mandates</a>
            <!-- <a href="javascript::void(0)" class="nav-link">Bulk</a> -->
        </nav>
    </div>
</div>


<div class="az-content-body">
    <div class="az-content-label mg-b-5" style="margin-bottom: 20px;">All Approved Mandate List</div>
    <!-- <p class="mg-b-20">Pre Generated Teller.</p> -->
    <!-- <div class="pd-30 pd-sm-40 bg-gray-100"> -->

    <nz-table #nzTable [nzData]="allApprovedMandateList" nzTableLayout="fixed" [nzLoading]="loading">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="60px">S/N</th>
                <th nzLeft>Batch Number</th>
                <th nzLeft>Inputter</th>
                <th>Process Type</th>
                <th>Upload Date</th>
            </tr>
        </thead>
        <tbody id="item">
            <ng-container *ngFor="let data of nzTable.data; let r= index">
                <tr>
                    <td [nzExpand]="expandSet.has(data.sn)" (nzExpandChange)="onExpandChange(data.sn, $event)" (click)="getBatchID(data.batch_number, 'pendingMandate')"></td>
                    <td>{{ r+1 }}</td>
                    <td nzLeft>{{ data.batch_number }}</td>
                    <td>{{ data.inputter }}</td>
                    <td>{{ data.process_type }}</td>
                    <td>{{ data.upload_date }}</td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.sn)">

                    <nz-table #nzTable [nzData]="approvedMandateInfo" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th nzWidth="50px">Account Name</th>
                                <th nzWidth="50px">Account No</th>
                                <th nzWidth="50px">Image File</th>
                                <th nzWidth="50px">Signature File</th>
                                <th nzWidth="50px">Expiry Date</th>
                            </tr>
                        </thead>
                        <tbody id="item">
                            <ng-container *ngFor="let data of nzTable.data">
                                <tr>
                                    <td>{{ data.account_name }}</td>
                                    <td>{{ data.account_number }}</td>
                                    <td>
                                        <img (click)="getPendingMandateDetailsByIdImage(data.id)" src="data:image/png;base64,{{ data.image }}" style='display:block; width: 100px; height: 100px; cursor: pointer;' />
                                    </td>
                                    <td>
                                        <img (click)="getPendingMandateDetailsByIdSignature(data.id)" src="data:image/png;base64,{{ data.signature }}" style='display:block; width: 100px; height: 100px; cursor: pointer;' />
                                    </td>
                                    <td>{{ data.signature_expiry_date }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </nz-table>


                </tr>
            </ng-container>
        </tbody>
    </nz-table>

    <!-- </div> -->
</div>
<!-- az-content-body -->