<div class="az-content-header">
    <div class="az-content-header-top">
        <div>
            <h2 class="az-content-title mg-b-5 mg-b-lg-8">Hi, welcome back {{ firstname }} {{ lastname }}!</h2>
            <p class="mg-b-0">Your easy-account monitoring dashboard app.</p>
        </div>
        <div class="az-dashboard-date">
            <!-- <div class="date">
        <div>20</div>
        <div>
          <span>OCT 2018</span>
          <span>Sunday</span>
        </div>
      </div>
      <i class="icon ion-md-arrow-forward"></i>
      <div class="date">
        <div>27</div>
        <div>
          <span>OCT 2018</span>
          <span>Monday</span>
        </div>
      </div> -->
        </div>
        <!-- az-dashboard-date -->
    </div>
    <!-- az-content-body-title -->
</div>
<!-- az-content-header -->
<div class="az-content-body">

    <div class="row row-sm">
        <div class="col-sm-6 col-xl-3" [hidden]="sac && !admin">
            <div class="card card-dashboard-twentytwo">
                <div class="media">
                    <div class="media-icon bg-purple"><i class="typcn typcn-chart-line-outline"></i></div>
                    <div class="media-body">
                        <h6>{{countaccountOpenings}}</h6>
                        <span>Active Account</span>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div id="flotChart1" class="flot-chart"></div>
                </div>
                <!-- chart-wrapper -->
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0" [hidden]="sac && !admin">
            <div class="card card-dashboard-twentytwo">
                <div class="media">
                    <div class="media-icon bg-primary"><i class="typcn typcn-chart-line-outline"></i></div>
                    <div class="media-body">
                        <h6>{{countcorporateAccount}}</h6>
                        <span>Pending Account</span>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div id="flotChart2" class="flot-chart"></div>
                </div>
                <!-- chart-wrapper -->
            </div>
            <!-- card -->
        </div>
        <!-- col-3 -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0" [hidden]="sac && !admin">
            <div class="card card-dashboard-twentytwo">
                <div class="media">
                    <div class="media-icon bg-pink"><i class="typcn typcn-chart-line-outline"></i></div>
                    <div class="media-body">
                        <h6>{{countcorporateAccount}}</h6>
                        <span>Minor Account</span>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div id="flotChart3" class="flot-chart"></div>
                </div>
                <!-- chart-wrapper -->
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0" [hidden]="sac && !admin">
            <div class="card card-dashboard-twentytwo">
                <div class="media">
                    <div class="media-icon bg-teal"><i class="typcn typcn-chart-line-outline"></i></div>
                    <div class="media-body">
                        <h6>{{corporatesCount}}</h6>
                        <span>Joint Account</span>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div id="flotChart4" class="flot-chart"></div>
                </div>
                <!-- chart-wrapper -->
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col-xl-9 mg-t-20">
            <div class="card card-dashboard-twentyone">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h6 class="az-content-label">Pregenerated account</h6>
                            <p>All Pregenerated Bulk Account Information</p>

                            <div class="list-group">
                                <div class="list-group-item">
                                    <span style="color: orangered;">Pre-G Retail</span>
                                    <span>{{pregeneratedRetailCount}}</span>
                                    <!-- <div class="progress">
                                        <div class="progress-bar wd-85p bg-purple" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                </div>

                                <div class="list-group-item">
                                    <span style="color: mediumslateblue;">Pre-G Corporate</span>
                                    <span>{{pregeneratedCorporateCount}}</span>
                                    <!-- <div class="progress">
                                        <div class="progress-bar wd-75p bg-indigo" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                </div>

                                <div class="list-group-item">
                                    <span style="color: mediumvioletred;">Retail</span>
                                    <span>{{retailsCount}}</span>
                                    <!-- <div class="progress">
                                        <div class="progress-bar wd-65p" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                </div>
                                <div class="list-group-item">
                                    <span style="color: teal;">Corporate</span>
                                    <span>{{corporatesCount}}</span>
                                    <!-- <div class="progress">
                                        <div class="progress-bar wd-55p bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                </div>
                                <!-- <div class="list-group-item">
                  <span>Australia</span>
                  <span>4,018</span>
                  <div class="progress">
                    <div class="progress-bar wd-45p bg-teal" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <!-- `<ejs-accumulationchart id="chart-container">
                <e-accumulation-series-collection>
                    <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' [dataLabel]='datalabel'></e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>` -->

                            `
                            <ejs-accumulationchart id="chart-container" [legendSettings]='legendSettings'>
                                <e-accumulation-series-collection>
                                    <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' innerRadius='40%' [dataLabel]='datalabel'></e-accumulation-series>
                                </e-accumulation-series-collection>
                            </ejs-accumulationchart>`
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col-md-4 col-xl-3 mg-t-20">
            <div class="card card-body card-dashboard-twentythree ht-xl-100p">
                <h6 class="card-title tx-14 mg-b-10">User Management</h6>
                <p class="mg-b-15" style="margin-bottom: 30px;">The total no of users who are active compare to users who are still pending.</p>

                <!-- <div class="d-flex flex-column align-items-center mg-b-25">
                    <div>
                        <div class="az-donut-chart chart1">
                            <div class="slice one"></div>
                            <div class="slice two"></div>
                            <div class="chart-center">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row row-sm">
                    <div class="col-6">
                        <label><span class="bg-indigo"></span>Active Users</label>
                        <h5>{{ totalUsers }}</h5>
                    </div>
                    <div class="col-6">
                        <label><span class="bg-gray-500"></span>In-Active</label>
                        <h5>{{ totalPendingUsers }}</h5>
                    </div>
                </div>
                <!-- row -->
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- az-content-body -->