.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}

[nz-button] {
  margin-bottom: 12px;
  width: 50%;
}

nz-select {
  width: 100%;
}

.loading-icon {
  margin-right: 8px;
}

nz-input-number{
  width: 100%;
}

