.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 60%;
  margin-right: 8px;
}

[nz-form] {
  max-width: 600px;
}

.add-button {
  width: 60%;
}

.ant-input.passenger-input {
  width: 200px;
  text-align: left;
  border-left-width: 0px;
}

nz-select.passenger-input {
  width: 200px;
  text-align: left;
  border-left-width: 0px;
}

nz-select.selectsol {
  width: 450px;
  text-align: left;
  border-left-width: 0px;
}


