<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Validation"></nz-step>
    <nz-step nzTitle="Official"></nz-step>
    <nz-step nzTitle="Signature"></nz-step>
    <nz-step nzTitle="Finish"></nz-step>
</nz-steps>

<form [formGroup]="jointForm">
    <div class="steps-content" style="padding-bottom: 80px" *ngIf="index == 'First-content'">
        <h5 class="az-content-title" style="margin-top: -5%;">Customer ID Verification</h5>
        <div class="pd-30 pd-sm-40 bg-gray-100 wd-xl-100p">
            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0"></label>
                </div>
                <!-- col -->
                <div class="col-md-4 mg-t-5 mg-md-t-0">

                    <!-- <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div> -->
                    <!-- <div class="alert alert-success" [hidden]="!success">
                    {{success}}
                </div> -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Customer ID</label>
                </div>
                <!-- col -->
                <div class="col-md-4">
                    <input type="text" class="form-control" name="CifId" (change)="onCheckValidation()" formControlName="CifId" placeholder="E.g R3365621">
                </div>
                <!-- col -->
                <div class="col-md-2">
                    <button nz-button nzType="primary" (click)="onGo()" *ngIf="!disabled && current == 0">
          <span>Validate</span>
        </button>
                    <button *ngIf="disabled && current == 0" nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Loading</button>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>

    <div class="steps-content" *ngIf="index == 'Second-content'">

        <h5 class="az-content-title" style="margin-top: -5%;">Account Information</h5>
        <div class="pd-30 pd-sm-40 bg-gray-100 wd-xl-100p">
            <!--      <h6 class="az-content-title" style="margin-top: 1%;">Account Detail</h6>-->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Account Name</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">
                    <input type="text" name="AccountName" [(ngModel)]="bvnFullName" formControlName="AccountName" (change)="onCheckValidation()" required class="form-control" placeholder="Enter account name">
                    <span class="text-danger valiFontSizes" *ngIf="jointForm.controls['AccountName'].dirty && jointForm.hasError('required', 'AccountName')">Account name is required</span>
                    <span class="text-danger valiFontSizes" *ngIf="jointForm.hasError('pattern', 'AccountName')">Account name is invalid</span>
                </div>
                <!-- col -->
            </div>
            <!-- row -->


            <!--      <h6 class="az-content-title" style="margin-top: 1%;">Official</h6>-->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Relationship Manager</label>
                </div>
                <!-- col -->
                <div class="col-md-4 mg-t-5 mg-md-t-0">
                    <input type="text" name="Manager" formControlName="Manager" (change)="onCheckValidation()" required class="form-control" placeholder="Enter a valid RM code">
                </div>
                <!-- col -->
                <div class="col-md-2 mg-t-5 mg-md-t-0">
                    <nz-tag *ngIf="!showsDetails3" nzColor="#cd201f"><span>Not Verified</span></nz-tag> &nbsp;
                    <nz-tag *ngIf="showsDetails3" nzColor="#87d068"><span>verified</span></nz-tag> &nbsp;
                    <i nz-icon nzType="file-search" (click)="onGoParentCif()" *ngIf="!disabled2" nzTheme="outline" class="dynamic-delete-button" nzTooltipTitle="Verify Customer" nzTooltipPlacement="top" nz-tooltip></i> &nbsp;
                    <i nz-icon class="dynamic-delete-button" nzType="loading" *ngIf="disabled2" nzTheme="outline"></i> &nbsp;
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Sol ID</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">
                    <!--          <select class="form-control select2-no-search" name="SolId" [(ngModel)]="form.SolId" required>-->
                    <!--            &lt;!&ndash; [(ngModel)]="form.two_factor" &ndash;&gt;-->
                    <!--            <option label="Choose one" value="">Select Scheme Type</option>-->
                    <!--            <option *ngFor="let list of sols" value="{{ list.glsubheadcode }}">{{ list.description }}</option>-->
                    <!--          </select>-->

                    <!-- <nz-select nzPlaceHolder="Select Sol" nzAllowClear nzShowSearch nzServerSearch class="selectsol" name="SolId" (change)="onCheckValidation()" [(ngModel)]="form.SolId" required>
                        <nz-option *ngFor="let list2 of sols" nzLabel="{{ list2.solid }} - {{ list2.description }}" nzValue="{{ list2.solid }}"></nz-option>
                    </nz-select> -->

                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear formControlName="SolId" nzPlaceHolder="Select Sol">
                        <nz-option *ngFor="let list of sols" [nzValue]="list.solid" [nzLabel]="list.solid + ' - ' + list.description"></nz-option>
                    </nz-select>

                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Scheme Type</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">

                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear (ngModelChange)="onSelectSchemeTypes()" formControlName="SchemeType" nzPlaceHolder="Select Scheme Type">
                        <nz-option *ngFor="let list of shemeTypes" [nzValue]="list.schemeType" [nzLabel]="list.schemeType + ' - ' + list.description"></nz-option>
                    </nz-select>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Scheme Code</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">

                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear (ngModelChange)="onSelectSchemeCode()" formControlName="SchemeCode" nzPlaceHolder="Select Scheme Code">
                        <nz-option *ngFor="let list of shemecodes" [nzValue]="list.schemecode" [nzLabel]="list.schemecode + ' - ' + list.description"></nz-option>
                    </nz-select>
                </div>
                <!-- col -->
            </div>
            <!-- row -->


            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Gl SubHead Code</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">

                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear formControlName="GlSubHeadCode" nzPlaceHolder="Select GI Subhead Code">
                        <nz-option *ngFor="let list of glheadcodes" [nzValue]="list.glsubheadcode" [nzLabel]="list.glsubheadcode"></nz-option>
                    </nz-select>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0">Introducer Code</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">
                    <input type="text" name="IntroducerCode" formControlName="IntroducerCode" required class="form-control" placeholder="Enter Introducer Code">
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <!--      <h6 class="az-content-title" style="margin-top: 1%;">Upload File</h6>-->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0" value="">Image File</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="ImageFile" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelect($event)" #UploadFileInput>
                        <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0" value="">Signature File</label>
                </div>
                <!-- col -->
                <div class="col-md-6 mg-t-5 mg-md-t-0">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile2" name="SignatureFile" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelect2($event)" #UploadFileInput>
                        <label class="custom-file-label" for="customFile">{{fileInputLabel2 || 'Choose File'}}</label>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

        </div>
    </div>

    <div class="steps-content" *ngIf="index == 'third-content'">

        <div class="pd-30 pd-sm-40 bg-gray-100 wd-xl-100p">

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-4">
                    <label class="form-label mg-b-0"></label>
                </div>
                <!-- col -->
                <div class="col-md-8 mg-t-5 mg-md-t-0">

                    <!-- <div class="alert alert-danger" [hidden]="!error2">
                    {{error2}}
                </div> -->
                    <!-- <div class="alert alert-success" [hidden]="!success2">
                    {{success2}}
                </div> -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-12 mg-t-5 mg-md-t-0">
                    <div class="pl-0 pr-0 col-md-12">
                        <div class="col-md-12 mb-2">
                            <div class="text-center">
                                <h5>Click <b>Add Signatories Button</b> to add fields !!</h5>
                            </div>
                        </div>
                        <div class="row row-xs mt-3">
                            <div class="col-md-12" formArrayName="SignatoriesToBeValidated" style="border-left: 0px !important;">
                                <div class="az-form-group">
                                    <label class="form-label mb-3" style="font-weight: 600; color: darkslategray;">Signatories</label>
                                    <nz-form-item *ngFor="let signatory of signatoriesToBeValidated().controls; let sigIndex=index">
                                        <div class="col-md-12 pl-0 pr-0 d-flex" [formGroupName]="sigIndex" style="border-left: 0px !important;">
                                            <div class="col-md-5 pl-0 pr-2">
                                                <nz-form-item>
                                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                                        <nz-input-group nzSearch>
                                                            <input type="text" formControlName="customerId" nz-input placeholder="Enter Customer Id" />
                                                        </nz-input-group>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="col-md-4 pl-0 pr-2">
                                                <select class="form-control select" formControlName="relationshipType" (change)="selectChange($event)" style="margin-top: 3px;">
                                                  <option value="">Select Relationship Type</option>
                                                  <option *ngFor="let list of relations" value="{{list.value}}">{{list.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 pl-0 pr-2">
                                                <button nz-button nzSearch nzType="primary" (click)="verityFieldCus(signatory)" [nzLoading]="isLoadingOne">Validate</button>
                                            </div>
                                            <div class="col-md-1 pull-right">
                                                <i nz-icon nzType="minus-circle-o" class="float-right mt-1" style="cursor: pointer; color: #999; font-size: 24px; transition: all 0.3s;" (click)="removeSignatories(sigIndex)"></i>
                                            </div>
                                        </div>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                        <div class="row row-xs mt-3">
                            <div class="col-md-12 text-center">
                                <nz-form-item>
                                    <nz-form-control>
                                        <button nz-button nzType="dashed" class="add-button" (click)="addSignatories()">
                            <i nz-icon nzType="plus"></i>
                            Add Signatories
                          </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

        </div>
    </div>
</form>

<div class="steps-content" *ngIf="index == 'fourth-content'">
    <nz-result *ngIf="successJoint" nzStatus="success" nzTitle="New Joint Account Creation Request Submitted Successfully!" nzSubTitle="">
        <div nz-result-extra>
            <button nz-button nzType="primary" [routerLink]="['/account-opening-authorization']">View Queue</button>
            <button nz-button (click)="again()">Close</button>
        </div>
    </nz-result>

    <nz-result *ngIf="errorJoint" nzStatus="warning" nzTitle="Operation not successfull" nzSubTitle="something on-usual went wrong.">
        <div nz-result-extra>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current >= 1">
        <span>Go Back</span>
      </button>
            <button nz-button (click)="again()">Close</button>
        </div>
    </nz-result>

    <!-- <nz-result *ngIf="responsecode === 3" nzStatus="warning" nzTitle="Operation not successfull" nzSubTitle="{{resMessage}}.">
        <div nz-result-extra>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current >= 1">
        <span>Go Back</span>
      </button>
            <button nz-button (click)="again()">Close</button>
        </div>
    </nz-result> -->
</div>
<!--
<nz-affix [nzOffsetBottom]="nzOffsetBottom" (click)="setOffsetBottom()"> -->
<div class="steps-action" style="float: right">
    <button nz-button style="margin-right: 8px;" (click)="close()" *ngIf="current != 0"><span>Close</span></button>
    <!--
      <button nz-button nzType="primary" (click)="next()" routerLinkActive="router-link-active" *ngIf="current == 0">
        <span>Continue</span>
      </button> -->

    <button nz-button nzType="default" (click)="pre()" *ngIf="current >= 2 || current == 1">
        <span>Previous</span>
      </button>

    <button nz-button nzType="primary" (click)="next()" routerLinkActive="router-link-active" *ngIf="current == 1">
        <span>Next</span>
      </button>

    <button nz-button nzType="primary" (click)="onSubmitAccountForm()" routerLinkActive="router-link-active" *ngIf="!disabled && current == 2">
        <span>Submit</span>
      </button>

    <button *ngIf="disabled && current == 2" nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Loading</button>

    <!-- <button nz-button nzType="primary" (click)="notValidForm()" routerLinkActive="router-link-active" *ngIf="disableSubmitBotton && current == 2">
        <span>Not Ready</span>
      </button> -->

    <!-- <button nz-button nzType="primary" (click)="next()" routerLinkActive="router-link-active" *ngIf="current == 2">
        <span>Next</span>
      </button> -->
</div>
<!-- </nz-affix> -->
