<div class="az-content-header">
    <div class="az-content-header-top">
        <div>
            <h2 class="az-content-title mg-b-5 mg-b-lg-8">User Table</h2>
            <!-- <p class="mg-b-0 mt-2">Multiple Upload.</p> -->
        </div>
        <div class="az-dashboard-date">
            <div class="">
                <div class="float-right">
                    <button nz-button nzType="primary" style="color: #fff;" (click)="exportUser()" [nzLoading]="isLoadingExport">Export Users</button>
                </div>
            </div>
            <!-- az-dashboard-date -->
        </div>
        <!-- az-dashboard-date -->
    </div>
</div>


<div class="az-content-body">

    <div class="col-md-12 col-lg-12 card mg-t-10">

        <div class="col-md-12">
            <div class="col-md-12 pl-0 pr-0 d-flex mt-5 mb-5">
                <div class="col-md-4 pl-0">
                    <div class="az-content-label pt-3">All Users List</div>
                </div>
                <div class="col-md-4 pl-0 pr-0 mt-1">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Search" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div class="col-md-4 pr-0">
                    <div class="float-right"><button class="btn btn-success btn-with-icon btn-block" (click)="open()"><i class="typcn typcn-plus"></i> Create User</button></div>
                </div>
            </div>

            <nz-table #fixedTable [nzData]="allUsers" [nzScroll]="{ x: '700px', y: '440px' }">
                <thead>
                    <tr>
                        <th nzWidth="60px">#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Employee ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="item">
                    <tr *ngFor="let data of fixedTable.data | userfilter: searchValue; let r= index">
                        <td nzWidth="60px">{{ r+1 }}</td>
                        <td>
                            <div class="az-img-user">
                                <img src="assets/img/default.jpg" alt="">
                            </div>
                        </td>
                        <td>{{ data.first_name }} {{ data.last_name }}</td>
                        <td>{{ data.email }}</td>
                        <td>
                            <p *ngIf="data.deleted === 'Y'" style="background-color: orangered; text-align: center; color: #fff; border-radius: 5px;">InActive</p>
                            <p *ngIf="data.deleted === 'N'" style="background-color: green; text-align: center; color: #fff; border-radius: 5px;">Active</p>
                            <p *ngIf="data.deleted === null" style="background-color: green; text-align: center; color: #fff; border-radius: 5px;">Active</p>
                        </td>
                        <td>{{ data.emp_id }}</td>
                        <td>
                            <button class="mr-2" style="background-color: #4BA145; border-color: #4BA145;" nz-button nzType="primary" [nzSize]="size" nzTooltipTitle="View User" nzTooltipPlacement="left" nz-button nz-tooltip (click)="viewUser(data)"><i nz-icon nzType="eye"></i></button>
                            <button class="mr-2" nz-button nzType="primary" [nzSize]="size" nzTooltipTitle="Edit" nzTooltipPlacement="right" nz-button nz-tooltip (click)="updateUs(data)"><i nz-icon nzType="edit"></i></button>
                            <button class="mr-2" style="background-color: mediumturquoise; border-color: mediumturquoise;" nz-button nzType="primary" [nzSize]="size" nzTooltipTitle="Add Suspense Account" nzTooltipPlacement="right" nz-button nz-tooltip (click)="addSus(data)"><i nz-icon nzType="plus-circle"></i></button>
                            <button *ngIf="data.deleted === 'N'" [hidden]="!sacCheck" nz-button nzType="primary" style="background-color: orangered; border-color: orangered;" [nzSize]="size" nzTooltipTitle="Disable User" nzTooltipPlacement="right" nz-button nz-tooltip (click)="deleteUser(data)"><i nz-icon nzType="close"></i></button>
                            <button *ngIf="data.deleted === null" [hidden]="!sacCheck" nz-button nzType="primary" style="background-color: orangered; border-color: orangered;" [nzSize]="size" nzTooltipTitle="Disable User" nzTooltipPlacement="right" nz-button nz-tooltip (click)="deleteUser(data)"><i nz-icon nzType="close"></i></button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <!-- table-responsive -->

            <!-- <div class="table-responsive mb-4" *ngIf="this.allTransactionList.length < 1">
            <table class="table table-hover mg-b-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="sort('nameOfPlotOwner')" style="cursor: pointer;">Name of Plot Owner <i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                        <th (click)="sort('depositorName')" style="cursor: pointer;">Depositor Name <i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                        <th (click)="sort('paymentFor')" style="cursor: pointer;">Payment For <i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                        <th (click)="sort('amount')" style="cursor: pointer;">Amount <i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10">
                            <div class="text-center mt-4 mg-b-20">
                                <div class="spinner-border">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 mb-0">
                <div class="row d-flex">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-0">
                        <p>Total Transactions: {{ allTransactionList.length }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-0">
                        <pagination-controls (pageChange)="pagination = $event" class="float-right"></pagination-controls>
                    </div>
                </div>
            </div>
        </div> -->
            <!-- table-responsive -->
        </div>


    </div>

</div>



<!-- Drawer For Preview User-->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="870" [nzVisible]="drawerOpen" nzTitle="Create User" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <form nz-form *nzDrawerContent [formGroup]="userForm">
        <div class="col-md-12 col-lg-12 pl-0 pr-0">

            <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">
                <div class="az-content-label mg-b-5 mt-3 mb-3" *ngIf="showForm">-- Validate User --</div>
                <div class="pl-0 pr-0 col-md-12" *ngIf="showForm">
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Employee ID!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Employee ID</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.emp_id" formControlName="emp_id" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6 mg-t-20 mg-md-t-0">
                            <button class="btn btn-success btn-with-icon ml-3 mt-4" *ngIf="validateBtn" (click)="validateAccount()">Validate Employee ID</button>
                            <button class="ml-3 mt-4" nz-button nzType="primary" *ngIf="validateBtn2" style="background-color: orange; border-color: orange;" nzLoading><i nz-icon nzType="poweroff"></i>Validating Employee ID</button>
                        </div>
                    </div>
                </div>
                <div class="pl-0 pr-0 col-md-12" *ngIf="showFormRest">
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your First Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">First Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.first_name" formControlName="first_name" nz-input placeholder="Enter First Name" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Last Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Last Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.last_name" formControlName="last_name" nz-input placeholder="Enter Last Name" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your User Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">User Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.username" formControlName="username" nz-input placeholder="Enter User Name" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your department!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;"> Department</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.department" formControlName="department" nz-input placeholder="Enter Department" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your job title!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Job Title</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" [(ngModel)]="useForm.job_title" formControlName="job_title" nz-input placeholder="Enter Job title" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your email!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Email</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="email" [(ngModel)]="useForm.email" formControlName="email" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-12">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Role</label>
                                <nz-select style="width: 100%;" [(ngModel)]="useForm.role" (ngModelChange)="getRolePermissions()" nzShowSearch nzAllowClear formControlName="role" nzPlaceHolder="Select Role">
                                    <nz-option *ngFor="let list of allRolesList" [nzValue]="list.slug" [nzLabel]="list.slug"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Permission</label>
                                <nz-select nzMode="tags" [(ngModel)]="useForm.permissions" style="width: 100%;" formControlName="permissions" nzPlaceHolder="Select Permissions">
                                    <nz-option *ngFor="let list of allPermissions" [nzLabel]="list.route" [nzValue]="list.route"></nz-option>
                                </nz-select>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row row-xs mt-3">
                        <div class="col-md-12">
                            <div class="az-form-group">
                                <label class="form-label mb-2" style="font-weight: 600; color: darkslategray; margin-left: 0px !important;">List of Permission</label>
                                <div class="row" style="margin-left: 1px">
                                    <div class="col-md-3 pl-0 pr-0" *ngFor="let list of allPermissions">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                <input type="checkbox" [value]="list" (change)="permissionSelect(list, $event.target.checked)" />
                                  <span></span>
                                  {{ list.route }}
                              </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row row-xs mt-3">
                        <div class="col-md-12">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Two Factor Authentication</label>
                                <nz-select style="width: 100%;" [(ngModel)]="useForm.two_factor" nzShowSearch nzAllowClear formControlName="two_factor" nzPlaceHolder="Select Two Factor Authentication">
                                    <nz-option [nzLabel]="'Yes'" [nzValue]="'B'"></nz-option>
                                    <nz-option [nzLabel]="'No'" [nzValue]="'N'"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
            <button nz-button nzType="primary" style="background: #57B952; border-color: #57B952;" (click)="open2()"><i class="typcn typcn-eye mr-2"></i>Preview</button>
        </div>
    </ng-template>
</nz-drawer>

<!-- Preview User -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="770" [nzVisible]="drawerOpen2" nzTitle="Preview Details" (nzOnClose)="close2()">

    <div class="col-md-12 col-lg-12 pl-0 pr-0">

        <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">
            <div class="az-content-label mg-b-5 mt-4 mb-3">-- Preview Filled Details --</div>

            <div class="row mt-4">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Employee ID</label>
                            <h6 class="forPreview ml-4">{{ useForm.emp_id }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>First Name</label>
                            <h6 class="forPreview ml-4">{{ useForm.first_name }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Last Name</label>
                            <h6 class="forPreview ml-4">{{ useForm.last_name }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>User Name</label>
                            <h6 class="forPreview ml-4">{{ useForm.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Department</label>
                            <h6 class="forPreview ml-4">{{ useForm.department }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Job Title</label>
                            <h6 class="forPreview ml-4">{{ useForm.job_title }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Email</label>
                            <h6 class="forPreview ml-4">{{ useForm.email }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Role</label>
                            <h6 class="forPreview ml-4">{{ useForm.role }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <!-- <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Permission</label>
                            <h6 class="forPreview ml-4">{{ useForm.permissions }}</h6>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Two Factor Authentication</label>
                            <h6 class="forPreview ml-4">{{ useForm.two_factor }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-xs mt-3 mr-2">
            <div class="col-sm-12 col-md-12">
                <button nz-button nzType="primary" (click)="createUser()" [nzLoading]="isLoadingBtn" style="background-color: #4BA145; border-color: #4BA145; float: right;">Create User</button>
            </div>
        </div>

    </div>
</nz-drawer>

<!-- Drawer For editing -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="870" [nzVisible]="drawerOpen3" nzTitle="Edit User" (nzOnClose)="close3()">

    <form nz-form *nzDrawerContent [formGroup]="userForm">
        <div class="col-md-12 col-lg-12 pl-0 pr-0">

            <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">
                <div class="pl-0 pr-0 col-md-12">
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">First Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="first_name" nz-input placeholder="Enter Employee ID" readonly />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Last Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="last_name" nz-input placeholder="Enter Employee ID" readonly />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">User Name</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="username" nz-input placeholder="Enter Employee ID" readonly />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;"> Department</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="department" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Job Title</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="job_title" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Email</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="email" formControlName="email" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row row-xs mt-3">
                        <div class="col-md-12">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Role</label>
                                <nz-select style="width: 100%;" [(ngModel)]="userDetailsSlug" nzShowSearch nzAllowClear formControlName="role" nzPlaceHolder="Select Role">
                                    <nz-option *ngFor="let list of allRolesList" [nzValue]="list.slug" [nzLabel]="list.slug"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Permission</label>
                                <nz-select nzMode="tags" style="width: 100%;" formControlName="permissions" nzPlaceHolder="Select Permissions">
                                    <nz-option *ngFor="let list of allPermissions" [nzLabel]="list.route" [nzValue]="list.route"></nz-option>
                                </nz-select>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row row-xs mt-3">
                    <div class="col-md-12">
                        <div class="az-form-group">
                            <label class="form-label mb-2" style="font-weight: 600; color: darkslategray; margin-left: 0px !important;">List of Permission</label>
                            <div class="row" style="margin-left: 1px">
                                <div class="col-md-3 pl-0 pr-0" *ngFor="let list of allPermissions">
                                    <div class="checkbox-inline">
                                        <label class="checkbox">
                            <input type="checkbox" [value]="list" (change)="permissionSelect(list, $event.target.checked)" />
                              <span></span>
                              {{ list.route }}
                          </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <div class="row row-xs mt-3">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter your Name!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Employee ID</label>
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" formControlName="emp_id" nz-input placeholder="Enter Employee ID" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <label class="form-label" style="font-weight: 600; color: darkslategray;">Two Factor Authentication</label>
                                <nz-select style="width: 100%;" nzShowSearch nzAllowClear formControlName="two_factor" nzPlaceHolder="Select Two Factor Authentication">
                                    <nz-option [nzLabel]="'Yes'" [nzValue]="'B'"></nz-option>
                                    <nz-option [nzLabel]="'No'" [nzValue]="'N'"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>

                    <div class="row row-xs mt-3 mr-2">
                        <div class="col-sm-12 col-md-12">
                            <button class="btn btn-success btn-with-icon float-right" (click)="updateUser()"><i class="typcn typcn-check"></i> Update User</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </form>
</nz-drawer>

<!-- Drawer For View User Details -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="870" [nzVisible]="drawerOpen4" nzTitle="View User Details" (nzOnClose)="close4()">

    <div class="col-md-12 col-lg-12 pl-0 pr-0">

        <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">
            <div class="az-content-label mg-b-5 mt-4 mb-3">-- User Details --</div>

            <div class="row mt-4">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Employee ID</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.emp_id }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>First Name</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.first_name }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Last Name</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.last_name }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>User Name</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Department</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.department }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Job Title</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.job_title }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Email</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.email }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Role</label>
                            <h6 class="forPreview ml-4">{{ userDetails2?.name }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Two Factor Authentication</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.two_factor }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Verified By</label>
                            <h6 class="forPreview ml-4">{{ userDetails?.verified_by }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nz-drawer>

<!-- Drawer For Add Suspense Account -->
<!-- <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="870" [nzVisible]="drawerOpen5" nzTitle="Add Suspense Account" (nzOnClose)="close5()">

    <div class="col-md-12 col-lg-12 pl-0 pr-0">

        <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">

            <form nz-form [formGroup]="addSuspenseForm">
                <div class="row row-xs mt-3 mb-4" *ngIf="showcont1">
                    <div class="col-md-6">
                        <div class="az-form-group">
                            <nz-form-item style="margin-bottom: 9px !important;">
                                <nz-form-control nzErrorTip="Please enter your Name!">
                                    <label class="form-label" style="font-weight: 600; color: darkslategray;">Account Number</label>
                                    <nz-input-group nzPrefixIcon="field-number">
                                        <input type="text" formControlName="accountInquiry" nz-input placeholder="Enter Account Number" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="col-md-6 mg-t-20 mg-md-t-0">
                        <button style="margin-top: 35px;" class="ml-4" nz-button nzType="primary" *ngIf="showB1" (click)="verifySuspenseAccount()">Validate Account No</button>
                        <button style="margin-top: 35px; background-color: orange; color: #fff; border-color: orange;" *ngIf="showB2" class="ml-4" nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Validating Account No</button>
                        <button style="margin-top: 35px;" class="ml-4" nz-button nzType="primary" *ngIf="showB3" disabled>Account Validated</button>
                    </div>
                </div>
            </form>

            <div class="row mt-4" *ngIf="showcont2">
                <div class="col-md-12 d-flex pl-0 pr-0">
                    <div class="col-md-6">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Account Name</label>
                            <h6 class="forPreview ml-4">{{ accountDetails?.account_name }}</h6>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0">
                        <div class="az-form-group" style="padding: 8px 15px !important;">
                            <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Account Number</label>
                            <h6 class="forPreview ml-4">{{ accountDetails?.account_number }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-xs mt-5 mr-2" *ngIf="showcont2">
            <div class="col-sm-12 col-md-12" style="margin-top: 170px;">
                <button class="btn btn-success btn-with-icon float-right" *ngIf="subb1" (click)="addSuspenseAccount()"><i class="typcn typcn-plus"></i> Add Suspense Account</button>
                <button class="btn btn-warning btn-with-icon float-right" *ngIf="subb2"><i class="typcn typcn-arrow-sync"></i> Adding Suspense Account</button>
            </div>
        </div>

    </div>
</nz-drawer> -->

<!-- Modal For Add Suspense Account -->
<nz-modal [(nzVisible)]="drawerOpen5" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="close5()">
    <ng-template #modalTitle>Add Suspense Account</ng-template>

    <ng-template #modalContent>
        <div class="col-md-12 col-lg-12 pl-0 pr-0">

            <div class="col-md-12 col-lg-12" style="padding-bottom: 20px;">

                <form nz-form [formGroup]="addSuspenseForm">
                    <div class="row row-xs mt-2 mb-2" *ngIf="showcont1">
                        <div class="col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter account no!">
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Account Number</label>
                                        <nz-input-group nzPrefixIcon="field-number">
                                            <input type="text" formControlName="accountInquiry" nz-input placeholder="Enter Account Number" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-md-6 mg-t-20 mg-md-t-0">
                            <button style="margin-top: 35px;" class="ml-4" nz-button nzType="primary" *ngIf="showB1" (click)="verifySuspenseAccount()">Validate Account No</button>
                            <button style="margin-top: 35px; background-color: orange; color: #fff; border-color: orange;" *ngIf="showB2" class="ml-4" nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Validating Account No</button>
                            <button style="margin-top: 35px;" class="ml-4" nz-button nzType="primary" *ngIf="showB3" disabled>Account Validated</button>
                        </div>
                    </div>
                </form>

                <div class="row mt-4" *ngIf="showcont2">
                    <div class="col-md-12 d-flex pl-0 pr-0">
                        <div class="col-md-6">
                            <div class="az-form-group" style="padding: 8px 15px !important;">
                                <label class="forPreviewLabel"><i class="typcn typcn-user mr-2 forPreviewicon"></i>Account Name</label>
                                <h6 class="forPreview ml-4">{{ accountDetails?.account_name }}</h6>
                            </div>
                        </div>
                        <div class="col-md-6 pl-0">
                            <div class="az-form-group" style="padding: 8px 15px !important;">
                                <label class="forPreviewLabel"><i class="typcn typcn-mail mr-2 forPreviewicon"></i>Account Number</label>
                                <h6 class="forPreview ml-4">{{ accountDetails?.account_number }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row row-xs mt-5 mr-2" *ngIf="showcont2">
            <div class="col-sm-12 col-md-12" style="margin-top: 170px;">
                <button class="btn btn-success btn-with-icon float-right" *ngIf="subb1" (click)="addSuspenseAccount()"><i class="typcn typcn-plus"></i> Add Suspense Account</button>
                <button class="btn btn-warning btn-with-icon float-right" *ngIf="subb2"><i class="typcn typcn-arrow-sync"></i> Adding Suspense Account</button>
            </div>
        </div> -->

        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="close5()">Close</button>
        <button nz-button nzType="primary" (click)="addSuspenseAccount()" [nzLoading]="isOkLoading">Add Suspense Account</button>
    </ng-template>

</nz-modal>