[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

nz-button-group [nz-button] {
    margin-right: 0;
}

.demo-loadmore-list {
    min-height: 350px;
}

.loadmore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4BA145;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
